<nav class="navbar">
  <div class="logo-wrapper">
    <a routerLink="/" class="flex items-center gap-3 transition">
      <img src="assets/logo.png" alt="Forkstack Icon" class="logo-image" />
      <span class="logo-text">fork-stack</span>
    </a>
    <div class="relative group ml-4">
      <a
        *ngIf="authService.isLoggedIn()"
        routerLink="/recipes/new"
        class="add-button"
      >
        +
      </a>
      <div class="tooltip">Add Recipe</div>
    </div>
  </div>
  <div class="absolute right-4 top-4 sm:top-auto sm:static">
    <button
      *ngIf="authService.isLoggedIn()"
      (click)="logout()"
      class="logout-button"
    >
      <svg
        class="h-6 w-6 sm:hidden"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M17 16l4-4m0 0l-4-4m4 4H7"></path>
        <path d="M3 12h4"></path>
      </svg>
      <span class="hidden sm:inline">Logout</span>
    </button>
  </div>
</nav>

<main class="p-4">
  <router-outlet></router-outlet>
</main>
